<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Web Application</display-name>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.jmp2017w.web.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PersonServlet</servlet-name>
        <servlet-class>com.jmp2017w.web.servlet.PersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonServlet</servlet-name>
        <url-pattern>/persons/all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonServlet</servlet-name>
        <url-pattern>/persons/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonServlet</servlet-name>
        <url-pattern>/persons/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonServlet</servlet-name>
        <url-pattern>/persons/edit</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.jmp2017w.web.listener.ApplicationContextListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>/jsp/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>